<?xml version="1.0"?>
<config>
    <modules>
        <Vortex_Sales>
            <version>0.1.0</version>
        </Vortex_Sales>
    </modules>
    <global>
        <models>
            <vortex_sales>
                <class>Vortex_Sales_Model</class>
            </vortex_sales>
        </models>
        <blocks>
            <vortex_sales>
                <class>Vortex_Sales_Block</class>
            </vortex_sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Vortex_Sales_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <vortex_sales>
                <class>Vortex_Sales_Helper</class>
            </vortex_sales>
        </helpers>
        <resources>
            <vortex_sales_setup>
                <setup>
                    <module>Vortex_Sales</module>
                </setup>
            </vortex_sales_setup>
        </resources>

        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <vortex_sales>
                        <type>singleton</type>
                        <class>Vortex_Sales_Model_Observer</class>
                        <method>salesModelServiceQuoteSubmitSuccess</method>
                    </vortex_sales>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
</config>