<?xml version="1.0"?>
<config>
    <modules>
        <Vortex_Thequestion>
            <version>0.1.0</version>
        </Vortex_Thequestion>
    </modules>
    <global>
        <models>
            <vortex_thequestion>
                <class>Vortex_Thequestion_Model</class>
            </vortex_thequestion>
        </models>
        <blocks>
            <vortex_thequestion>
                <class>Vortex_Thequestion_Block</class>
            </vortex_thequestion>
        </blocks>
        <helpers>
            <vortex_thequestion>
                <class>Vortex_Thequestion_Helper</class>
            </vortex_thequestion>
        </helpers>
        <resources>
            <vortex_thequestion_setup>
                <setup>
                    <module>Vortex_Thequestion</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </vortex_thequestion_setup>
        </resources>
    </global>

    <frontend>
        <events>
            <customer_save_before>
                <observers>
                    <vortex_thequestion>
                        <type>singleton</type>
                        <class>Vortex_Thequestion_Model_Observer</class>
                        <method>customerSaveBefore</method>
                    </vortex_thequestion>
                </observers>
            </customer_save_before>

            <sales_quote_collect_totals_before>
                <observers>
                    <vortex_thequestion>
                        <type>singleton</type>
                        <class>Vortex_Thequestion_Model_Observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </vortex_thequestion>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
        <layout>
            <updates>
                <vortex_thequestion>
                    <file>vortex_thequestion.xml</file>
                </vortex_thequestion>
            </updates>
        </layout>
    </frontend>
</config>