<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <create_account>
                    <fields>
                        <where_did_you_hear_us translate="label comment">
                            <label>Where Did You Hear Us Options:</label>
                            <comment>separate by comma.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </where_did_you_hear_us>
                    </fields>
                </create_account>
            </groups>
        </customer>
    </sections>
</config>